node_modules

# log files
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# electron-packager output dirs
*-darwin-x64
*-win32-x64
*-win32-ia32
*-linux-x64
dist
dist-x64
dist-ia32
win64-dist
Signal.tar.bz2

# Mac Specific
.DS_Store
